/* Regular 400 */
@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('/fonts/be-vietnam-pro/BeVietnamPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium 500 */
@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('/fonts/be-vietnam-pro/BeVietnamPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* SemiBold 600 */
@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('/fonts/be-vietnam-pro/BeVietnamPro-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold 700 */
@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('/fonts/be-vietnam-pro/BeVietnamPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
